In [7]:
import pandas as pd
import pymysql

# CSV 파일 읽기
csv_path = r"C:\Users\Playdata\Documents\SKN13-1st-3Team\crawling\주유소정보.csv"
df = pd.read_csv(csv_path, encoding='utf-8')

df = df.rename(columns={
    '이름': 'station_name',
    '주소': 'address',
    '브랜드': 'brand',
    '지역': 'region',
    '휘발유': 'gasoline_price',
    '경유': 'diesel_price',
    '셀프': 'self_service',
    '세차': 'car_wash',
    '편의점': 'convenience_store',
    '24시간': 'hours_24'
})

    지역                   이름                       주소       브랜드    휘발유     경유  \
0  강남구          (주)보성 세곡주유소     서울 강남구 헌릉로 731 (세곡동)     SK에너지  1,638  1,528
1  강남구             오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)     SK에너지  1,679  1,579
2  강남구        지에스칼텍스㈜ 은마주유소          서울 강남구 영동대로 235     GS칼텍스  1,679  1,659
3  강남구  HD현대오일뱅크㈜직영 강남셀프주유소           서울 강남구 도곡로 208  HD현대오일뱅크  1,684  1,604
4  강남구  HD현대오일뱅크㈜직영 도곡셀프주유소        서울 강남구 남부순환로 2718  HD현대오일뱅크  1,684  1,589

  셀프 세차 편의점 24시간
0  Y  Y   N    N
1  Y  Y   N    Y
2  N  Y   N    N
3  Y  Y   N    N
4  Y  Y   N    N

In [12]:
!pip install sqlalchemy pymysql pandas

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: pymysql in c:\users\playdata\miniconda3\lib\site-packages (1.1.1)
Requirement already satisfied: pandas in c:\users\playdata\miniconda3\lib\site-packages (2.2.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\playdata\miniconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\playdata\miniconda3\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\playdata\miniconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\playdata\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\playdata\miniconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\playdata\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.40-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 40.1 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-win_amd64.whl (299 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.40

In [18]:
with engine.connect() as conn:
    existing_brands = pd.read_sql("SELECT brand_name FROM brand", conn)
    
missing_brands = df[~df['brand_name'].isin(existing_brands['brand_name'])]
print(missing_brands['brand_name'].unique())

['알뜰(ex)']

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

# CSV 파일 읽기
csv_path = r"C:\Users\Playdata\Documents\SKN13-1st-3Team\crawling\주유소정보.csv"
df = pd.read_csv(csv_path, encoding='utf-8')

df = df.rename(columns={
    '이름': 'station_name',
    '주소': 'address',
    '지역': 'region',
    '브랜드': 'brand_name',
    '휘발유': 'gasoline_price',
    '경유': 'diesel_price',
    '셀프': 'self_service',
    '세차': 'car_wash',
    '편의점': 'convenience_store',
    '24시간': 'hours_24'
})

df['gasoline_price'] = df['gasoline_price'].str.replace(',', '').astype(int)
df['diesel_price'] = df['diesel_price'].str.replace(',', '').astype(int)

conn = pymysql.connect(
        host='127.0.0.1', # DB 주소 (예: '127.0.0.1' 또는 AWS RDS 주소)
        port = 3306,
        user='root',    # MySQL 사용자
        password='1111',
        database='gas_station',  # 저장할 데이터베이스명
    )

engine = create_engine("mysql+pymysql://root:1111@127.0.0.1:3306/gas_station")

df.to_sql(name='gas_station', con=engine, if_exists='append', index=False)

print("데이터 저장 완료!")

데이터 저장 완료!

In [20]:
import pymysql

datas = [
    ["S-OIL", "서울특별시 마포구 백범로 192", "1644-5151"],
    ["SK에너지", "서울특별시 종로구 종로 26 SK빌딩", "02-2121-5114"],
    ["GS칼텍스", "서울특별시 강남구 논현로 508 GS타워", "1544-5151"],
    ["HD현대오일뱅크", "경기도 성남시 분당구 분당수서로477", "1588-5189"],
    ["알뜰주유소","울산광역시 중구 종가로 305","1666-5192"],
    ["자가상표", "서울 은평구 서오릉로 41", "02-384-4000"],
    ["알뜰(ex)", "서울 성동구 고산자로 307", "02-2297-9442"]
]

insert_sql = "insert into brand(brand_name, head_address, cst_service) values(%s, %s, %s)"

with pymysql.connect(host="127.0.0.1", port=3306, user='root', password='1111', db='gas_station') as conn:
    with conn.cursor() as cursor:
        cnt = cursor.executemany(insert_sql, datas)
        conn.commit()

print("insert된 총 행수:", cnt)

insert된 총 행수: 7

soil
서울특별시 마포구 백범로 192
1644-5151

sk에너지
서울특별시 종로구 종로 26 SK빌딩
02-2121-5114

gs칼텍스
서울특별시 강남구 논현로 508 GS타워
1544-5151

알뜰주유소
울산광역시 중구 종가로 305
1666-5192

hd현대오일뱅크
경기도 성남시 분당구 분당수서로477
1588-5189

pb
은평구 - 코끼리 주유소
서울 은평구 서오릉로 41
02-384-4000

성동구 - 정호 주유소
서울 성동구 고산자로 307
02-2297-9442